.encabezado, .encabezado__nav ul, .index, .index__articulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.encabezado, footer, .seccionCarrusel, .index, .blog, .servicios, .nosotros, .nosotros__seccion {
  margin: 0 20px 20px 20px; }

footer h2, .index__articulo__descArticulo h2, .blog__seccion h2 {
  color: #ffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.servicios__grid--img {
  margin: 15px 10px;
  width: auto;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

body {
  margin: 0;
  padding: 0;
  background-color: #5B8E7D; }
  body li {
    list-style-type: none; }
  body h1 {
    color: #ffff; }

.encabezado {
  height: 100px; }
  .encabezado__icono {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px; }
    .encabezado__icono h1 {
      font-size: 30px;
      color: #ffff; }
    .encabezado__icono-logo {
      width: 60px;
      height: auto;
      padding: 10px; }
      @media screen and (max-width: 890px) {
        .encabezado__icono-logo {
          display: none; } }
  .encabezado__nav {
    width: 50%;
    height: auto;
    padding: 10px; }
    @media screen and (max-width: 890px) {
      .encabezado__nav {
        position: absolute; } }
    .encabezado__nav #check:checked ~ ul {
      left: 0; }
    .encabezado__nav ul {
      margin: 0px;
      padding: 0px; }
      @media screen and (max-width: 890px) {
        .encabezado__nav ul {
          z-index: 10;
          background-color: rgba(0, 0, 0, 0.5);
          position: fixed;
          width: 100%;
          top: 0px;
          left: -100%;
          right: 0px;
          bottom: 0px;
          flex-direction: column;
          padding: 50px;
          transition: 1s ease all; } }
      .encabezado__nav ul li {
        width: auto;
        margin-left: 10px;
        border-bottom: #fafafa 2px transparent; }
        .encabezado__nav ul li a {
          font-size: 16px;
          text-decoration: none;
          color: #ffff;
          font-weight: bold; }
          .encabezado__nav ul li a:hover, .encabezado__nav ul li a a {
            border-bottom: #fafafa 2px solid; }
          @media screen and (max-width: 890px) {
            .encabezado__nav ul li a {
              font-size: 20px;
              font-weight: bold; } }
  .encabezado__barras {
    font-size: 40px;
    display: none;
    cursor: pointer;
    padding: 5px; }
    @media screen and (max-width: 890px) {
      .encabezado__barras {
        z-index: 20;
        position: absolute;
        top: 20px;
        right: 25px;
        display: block; }
        .encabezado__barras:hover {
          color: #ffff; } }
  .encabezado #check {
    display: none; }

footer {
  height: auto;
  background-image: radial-gradient(circle at 50%, #5B8E7D, #BC4B51);
  border-radius: 10px; }
  footer .footerLinks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    footer .footerLinks__links {
      display: flex;
      margin: 15px; }
      footer .footerLinks__links div a {
        color: #000;
        margin: 30px; }
        footer .footerLinks__links div a i {
          font-size: 45px;
          transition: ease 1s all; }
        footer .footerLinks__links div a i:hover {
          transform: scale(1.3); }
      footer .footerLinks__links__footerMap {
        margin: 10x; }

.seccionCarrusel {
  background-color: #85b1a2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 15px;
  border-radius: 10px; }
  .seccionCarrusel .carousel-inner img {
    height: 400px; }

.index {
  height: auto;
  flex-wrap: wrap;
  justify-content: center; }
  .index__articulo {
    width: 600px;
    margin: 20px; }
    @media screen and (max-width: 547px) {
      .index__articulo {
        flex-wrap: wrap;
        justify-content: center; } }
    .index__articulo img {
      width: auto;
      height: 300px;
      box-shadow: 0 0 15px 0 #BC4B51;
      transition: ease 1s all; }
    .index__articulo img:hover {
      transform: scale(1.3); }
    .index__articulo__descArticulo {
      text-align: center; }
      @media screen and (max-width: 547px) {
        .index__articulo__descArticulo {
          margin-top: 10px; } }
      .index__articulo__descArticulo h2 {
        font-size: 30px; }
        @media screen and (max-width: 547px) {
          .index__articulo__descArticulo h2 {
            font-size: 25px; } }
      .index__articulo__descArticulo p {
        font-size: 14px;
        font-weight: bold;
        line-height: 20px; }
        @media screen and (max-width: 547px) {
          .index__articulo__descArticulo p {
            font-size: 12px; } }

img {
  width: 200px;
  height: auto; }

.blog__seccion h2 {
  font-size: 35px; }
  @media screen and (max-width: 870px) {
    .blog__seccion h2 {
      font-size: 20px; } }

.blog__seccion--contenido {
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 870px) {
    .blog__seccion--contenido {
      flex-wrap: wrap; } }
  .blog__seccion--contenido article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
    background-color: #8CB369;
    border-radius: 15px;
    padding: 10px;
    margin: 10px; }
    @media screen and (max-width: 870px) {
      .blog__seccion--contenido article {
        align-items: center; } }
    .blog__seccion--contenido article h3 {
      font-size: 25px; }
      @media screen and (max-width: 870px) {
        .blog__seccion--contenido article h3 {
          font-size: 18px; } }
    @media screen and (max-width: 870px) {
      .blog__seccion--contenido article p {
        font-size: 16px; } }
    .blog__seccion--contenido article .imgNoticias {
      align-content: center; }
    .blog__seccion--contenido article iframe {
      width: auto; }
      @media screen and (max-width: 870px) {
        .blog__seccion--contenido article iframe {
          width: 100%; } }

.formulario {
  margin: 50px 0px; }
  .formulario__contacto {
    background-color: #85b1a2;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 0px black; }
  .formulario label {
    margin: 10px 0;
    font-weight: bold; }

.servicios {
  display: grid;
  grid-template-columns: 1fr 4fr; }
  @media screen and (max-width: 830px) {
    .servicios {
      display: flex;
      flex-direction: column; } }
  .servicios__titulos {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
  .servicios__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%; }
    @media screen and (max-width: 1120px) {
      .servicios__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); } }
    @media screen and (max-width: 830px) {
      .servicios__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr); } }
    @media screen and (max-width: 625px) {
      .servicios__grid {
        grid-template-columns: 1fr; } }
    .servicios__grid--img {
      border: 3px solid transparent;
      text-align: center;
      box-shadow: 0 0 15px 0 #85b1a2;
      transition: ease 1s all; }
      .servicios__grid--img h3 {
        font-size: 25pxpx;
        font-weight: bold; }
      .servicios__grid--img p {
        margin-top: 150px; }
    .servicios__grid--img:hover {
      border: 3px solid #85b1a2;
      box-shadow: 0px 0px 15px 0px black;
      color: #000; }
      .servicios__grid--img:hover p {
        font-weight: bold; }
    .servicios__grid .img1 {
      background-image: url(../img/mate-persona.jpg); }
    .servicios__grid .img2 {
      background-image: url(../img/mate-paisaje.jpg); }
    .servicios__grid .img3 {
      background-image: url(../img/mate-pava.jpg); }
    .servicios__grid .img4 {
      background-image: url(../img/mate-termo.jpg); }
    .servicios__grid .img5 {
      background-image: url(../img/mate-yerba.jpg); }
    .servicios__grid .img6 {
      background-image: url(../img/mate-pava.jpg); }
    .servicios__grid .img7 {
      background-image: url(../img/mate-persona.jpg); }
    .servicios__grid .img8 {
      background-image: url(../img/mate-termo.jpg); }

.nosotros {
  background-color: #85b1a2;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 10px; }
  .nosotros h2 {
    text-align: center;
    line-height: 70px;
    font-size: 35px;
    text-transform: uppercase; }
    @media screen and (max-width: 890px) {
      .nosotros h2 {
        font-size: 25px; } }
  .nosotros__seccion {
    display: flex;
    align-content: center;
    justify-items: center;
    height: auto;
    padding: 10px;
    margin: 20px; }
    @media screen and (max-width: 720px) {
      .nosotros__seccion {
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap; } }
    .nosotros__seccion img {
      width: 40%;
      height: 200px; }
    .nosotros__seccion p {
      padding: 0;
      margin: 0;
      width: 60%;
      font-size: 17px;
      line-height: 20px;
      margin-left: 40px;
      align-items: center; }
      @media screen and (max-width: 890px) {
        .nosotros__seccion p {
          font-size: 14px;
          display: relative; } }
