$coloresFondos: (
    primario: #8CB369,
    secundario: #F4E285,
    terceario: #F4A259,
    cuarto: #5B8E7D,
    quinto: #BC4B51
);

$coloresLetras: (
    titulos: #ffff,
    parrafos: #0000
);

$letras: (
    titulos: 22px,
    headerH1: 20px,
    nav: 16px
);