img {
    width: 200px;
    height: auto;
}



.blog {
    position: relative;

    &__banner {
        background-image: url(../img/mate-yerba.jpg);
        @extend %bannerSticky;

        &-contenido {
            @extend %bannerSticki-contenido;

            h2 {
                @extend %bannerSticki-contenido-h2;
            }

            p {
                @extend %bannerSticki-contenido-p;
            }

        }
    }

    &__seccion {
        background-color: map-get($coloresFondos, cuarto);
        padding-top: 40px;

        h2 {
            width: 40%;
            @extend %bannerSticki-contenido-h2;
            @media screen and (max-width: 915px) {
                width: 50%;
            }
            @media screen and (max-width: 915px) {
                width: 85%;
            }
        }


        &--contenido {
            display: flex;
            justify-content: space-around;

            @media screen and (max-width: 870px) {
                flex-wrap: wrap;
            }

            article {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                gap: 10px;
                border-radius: 15px;
                padding: 10px;
                width: 30%;
                height: auto;                
                @media screen and (max-width: 870px) {
                    align-items: center;
                }
                @media screen and (max-width: 870px) {
                    width: 90%;
                    height: auto;
                    margin-bottom: 50px;
                }

                .botones {
                    border: 2px solid transparent;
                    border-radius: 15px;
                    background-color: #F4E285;
                    box-shadow: 0 0 15px 0 lighten( map-get($coloresFondos, cuarto), 15%);  
                    transition: 1s ease all;

                    &:hover {
                        border: 2px solid #000;
                        box-shadow: 0 0 15px 0 #000;  
                    }
                }

                h3 {
                    border-top: 2px solid #000;
                    border-bottom: 2px solid #000;
                    font-size: 25px;
                    height: 100px;
                    @media screen and (max-width: 1187px) {
                        font-size: 20px;
                    }
                    @media screen and (max-width: 855px) {
                        height: auto;
                        padding: 10px;
                    }
                }

                p {
                    @media screen and (max-width: 870px) {
                        font-size: 16px;
                    }
                }

                .imgNoticias {
                    align-content: center;
                }

                iframe {
                    width: auto;
                    @media screen and (max-width: 870px) {
                        width: 100%;
                    }
                }

            }
        }
    }
}