img {
    width: 200px;
    height: auto;
}



.blog {
    position: relative;

    &__banner {
        background-image: url(../img/mate-yerba.jpg);
        @extend %bannerSticky;

        &-contenido {
            @extend %bannerSticki-contenido;

            h2 {
                @extend %bannerSticki-contenido-h2;
            }

            p {
                @extend %bannerSticki-contenido-p;
            }

        }
    }

    &__seccion {
        background-color: map-get($coloresFondos, cuarto);


        &--contenido {
            display: flex;
            justify-content: space-around;

            @media screen and (max-width: 870px) {
                flex-wrap: wrap;
            }

            article {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                gap: 10px;
                // background-color: map-get($coloresFondos , primario);
                border-radius: 15px;
                padding: 10px;
                margin: 10px;

                @media screen and (max-width: 870px) {
                    align-items: center;
                }

                h3 {
                    font-size: 25px;
                    @media screen and (max-width: 870px) {
                        font-size: 18px;
                    }
                }

                p {
                    @media screen and (max-width: 870px) {
                        font-size: 16px;
                    }
                }

                .imgNoticias {
                    align-content: center;
                }

                iframe {
                    width: auto;
                    @media screen and (max-width: 870px) {
                        width: 100%;
                    }
                }

            }
        }
    }
}