
body{
    margin:0;
    padding: 0;
    background-color: map-get($coloresFondos, cuarto);
    
    li {
        list-style-type: none;
    }

    h1 {
        color: map-get($coloresLetras, titulos)
    }
}
// HEADER Y NAV ---------------------------------------
.encabezado {
    @extend %flexBoxRow;
    height: 100px;
    @extend %espaciadoContenedor;

    &__icono {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 20px;

        h1 {
            font-size: 30px;
            color: map-get($coloresLetras, titulos);
        }

        &-logo {
            width: 60px;
            height: auto;
            padding: 10px;

            @media screen and (max-width: 890px) {
                display: none;
            }
        }

    }

    &__nav {
        width: 50%;
        height: auto;
        padding: 10px;

        @media screen and (max-width: 890px) {
            position: absolute;
        }

        ul {
            margin: 0px;
            padding: 0px;
            @extend %flexBoxRow;
            
            @media screen and (max-width: 890px) {
                display: none;
                z-index: 99;
                background-color: rgba(0,0,0,0.5);
                position: fixed;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;     
                flex-direction: column;
                padding: 50px;
            }
            
            li {
                width: auto;
                margin-left: 10px;
                border-bottom: #fafafa 2px transparent;
                a {
                    font-size: map-get($letras , nav );
                    text-decoration: none;
                    color: map-get($coloresLetras, titulos );
                    font-weight: bold;

                    &:hover, a {
                        border-bottom: #fafafa 2px solid;  
                    }

                    @media screen and (max-width: 890px) {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }   

            }
        }
    }

    &__barras {
        font-size: 40px;
        display: none;
        cursor: pointer;
        padding: 5px;
        border-radius: 2px;
        border: solid transparent 2px;

        @media screen and (max-width: 890px) {
            display: block;
            &:hover {
                color: map-get($coloresLetras, titulos);
            }
        }

    }

}



// FOOTER ---------------------------------------------

footer {
    @extend  %espaciadoContenedor;
    height: auto;
    background-image: radial-gradient(circle at 50%, #5B8E7D, #BC4B51);
    border-radius: 10px;
    h2 {
        @extend %titulosH;
    }
    .footerLinks {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        &__links {
            display: flex;
            margin: 15px;
            div {
                a { 
                    color: #000;
                    margin: 30px;
                    i {
                        font-size: 45px;
                        transition: ease 1s all;
                    }
                    i:hover {
                        transform: scale(1.3);
                    }
                
                }
            }
        &__footerMap {
            margin: 10x;
        }
        }
    }

}