.nosotros {
    @extend %espaciadoContenedor;
    background-color: lighten( map-get($coloresFondos, cuarto), 15%);
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 10px;

    h2 {
        text-align: center;
        line-height: 70px;
        font-size: 35px;
        text-transform: uppercase;

        @media screen and (max-width:890px) {
            font-size: 25px;
        }
    }
    
    &__seccion {
        @extend %espaciadoContenedor;
        display: flex;
        align-content: center;
        justify-items: center;
        height: auto;
        padding: 10px;
        margin: 20px;

        @media screen and (max-width:720px) {
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
        }

        img {
            width: 40%;
            height: 200px;
        }

        p {
            padding: 0;
            margin: 0;
            width: 60%;
            font-size: 17px;
            line-height: 20px;
            margin-left: 40px;
            align-items: center;

            @media screen and (max-width:890px) {
                font-size: 14px;
                display: relative;
            }
        }
    }
}