//  gridServicios

.servicios {
    display: grid;
    grid-template-columns: 1fr 4fr;
    @extend %espaciadoContenedor;

    @media screen and (max-width: 830px) {
        display: flex;
        flex-direction: column;
    }

    &__titulos {
        text-align: center;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        p {
            font-weight: bold;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 100%;

        @media screen and (max-width: 1120px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
        @media screen and (max-width: 830px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
        @media screen and (max-width: 625px) {
            grid-template-columns: 1fr;
        }

        &--img {
            @extend %imgFormat;
            border: 3px solid transparent;
            text-align: center;
            box-shadow: 0 0 15px 0 lighten( map-get($coloresFondos, cuarto), 15%);
            transition: ease 1s all;

            @media screen and (max-width: 625px) {
                height: 250px;
            }

            h3 {
                margin-top: 10px;
                width: 70%;
                font-size: 25px;
                font-weight: bold;
                border-top: 2px solid #000;
            }

            p {
                margin-top: 150px;
                transition: 1s ease all;

                @media screen and (max-width: 830px) {
                    font-weight: bold;
                }

            }
    
        }

        &--img:hover {
            border: 3px solid lighten( map-get($coloresFondos, cuarto), 15%);
            box-shadow: 0px 0px 15px 0px black;
            color: #000;
            p {
                font-weight: bold;
            }
        }

        .img1 {
            background-image: url(../img/mate-5.jpeg);
        }
        
        .img2 {
            background-image: url(../img/mate-2.jpeg);
        }
        
        .img3 {
            background-image: url(../img/mate-3.jpeg);
        }
        
        .img4 {
            background-image: url(../img/mate-7.jpeg);
        }
        
        .img5 {
            background-image: url(../img/bitacora-1.jpeg);
        }
        
        .img6 {
            background-image: url(../img/bitacora-2.jpeg);
        }
        
        .img7 {
            background-image: url(../img/bitacora-3.jpeg);
        }
        
        .img8 {
            background-image: url(../img/bitacora-4.jpeg);
        }
    }

}